<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="username">User Name</label>
            <input
              type="text"
              id="username"
              placeholder="Please enter your user name"
              class="form-control"
              formControlName="username"
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              placeholder="Please enter your password"
              class="form-control"
              formControlName="password"
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid">Login</button>
        </div>
      </div>
    </form>
  </div>
