<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="username">User Name</label>
            <input
              type="text"
              id="username"
              placeholder="Please enter your user name"
              class="form-control"
              formControlName="username"
              (keyup)="keyup($event)"
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              placeholder="Please enter your password"
              class="form-control"
              formControlName="password"
              (keyup)="keyup($event)"
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div *ngIf="loginInProcess">
    <i class="fa fa-spinner fa-spin fa-3x"></i>
  </div>
  <div class="alert alert-danger" *ngIf="loginFailed">
    Invalid credentials! Please try again.
  </div>
</div>
