<div class="row">
  <!-- The row is divided in two panels -->
  <!-- First 6 columns-wide panel: List of threats -->
  <div class="col-md-6">

    <!-- Loading icon -->
    <spinner [visible]="isLoading"></spinner>

    <!-- TODO: Organize threats by location...-->
    <!--<ul class="nav nav-pills nav-justified">-->
      <!--<li *ngFor="let location of locationThreats" role="presentation" class="active">{{ location.city}}</li>-->
    <!--</ul>-->

    <!-- Number of threats -->
    <div class="alert alert-danger" role="alert" *ngIf="!isLoading">
      {{ (threats) ? threats.length : 0 }} threats in {{ (locationThreats) ? locationThreats.length : 0 }} locations
    </div>

    <ul class="list-group posts" *ngIf="!isLoading">
      <li class="list-group-item" [class.active]="isActive(i)" *ngFor="let threat of threats; let i=index"
          (click)="onClick(threat)">
        <span class="badge">{{ threat.temperatureAlert }}</span>
        {{i+1}} - {{ threat.organization}}, {{ threat.assetType }}, {{ threat.threatType }}, {{ threat.threatSeverity }}, {{ threat.threatDateBegin}}
      </li>
    </ul>

  </div>

  <!-- Second 6 columns-wide panel: Selected Threat detail -->
  <div class="col-md-6" *ngIf="!isLoading && selectedThreat">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Organization: {{ selectedThreat.organization }}, Asset: {{ selectedThreat.assetType }}, Location: {{ selectedThreat.assetAddress.city }}</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item"><span class="badge">{{ selectedThreat.threatType }}</span>Threat Type:</li>
          <li class="list-group-item"><span class="badge">{{ selectedThreat.threatSeverity }}</span>Threat Severity:</li>
          <li class="list-group-item"><span class="badge">{{ selectedThreat.temperatureAlert }}</span>Temperature Alert:</li>
          <li class="list-group-item"><span class="badge">{{ selectedThreat.threatDateBegin }}</span>Threat Begin Date:</li>
        </ul>

        <!-- Google maps for Angular: See docs at https://angular-maps.com -->
        <sebm-google-map [latitude]="selectedThreat.assetAddress.latitude"
                         [longitude]="selectedThreat.assetAddress.longitude"
                         [zoom]="10"
        >
          <!-- Put a marker to display the temperature -->
          <sebm-google-map-marker
            [label]="''+selectedThreat.temperatureAlert"
            [latitude]="selectedThreat.assetAddress.latitude"
            [longitude]="selectedThreat.assetAddress.longitude"
            [opacity]="0.8"
            (markerClick)="clickedMarker()"
          >
            <sebm-google-map-info-window>
              <strong>{{selectedThreat.assetType}}, {{selectedThreat.threatType}}, {{ selectedThreat.temperatureAlert}}</strong>
            </sebm-google-map-info-window>
          </sebm-google-map-marker>

          <!-- Draw a circle, just to show that we can! -->
          <sebm-google-map-circle
            [latitude]="selectedThreat.assetAddress.latitude"
            [longitude]="selectedThreat.assetAddress.longitude"
            [radius]="10000"
            [fillOpacity]="0.2"
            [fillColor]="red"
          >
          </sebm-google-map-circle>
        </sebm-google-map>
      </div>
    </div>
  </div>
</div>
